body{
	width:500px;
	display:block;
	margin:50px auto;
	background-color:;
}

p{
	font-family: /*[Verdana|Trebuchet MS|Arial|Helvetica|Sans Serif|Serif]+*/;
}

	img{
		margin-right:15px;
		margin-bottom:15px;
		float:left;
	}

	p b{
		font-weight:/*norma|bold*/
	}

	p b:hover{
		font-weight:;/*norma|bold*/
		text-decoration:;
		font-style:;
	}
